:root {
  --text: #000000;
  --background: #f0f4ffd3;

  --ff-base: "Montserrat", sans-serif;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 500 1rem/1.5 var(--ff-base);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);

  font-family: var(--ff-base);
}

.about {
  background: #f0f4ffd3 ; 
  border-radius: 16px;
  padding: 2rem;
  max-width: 900px;
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

h1,
h2{
  text-align: center;
  font-family: 'Syne', sans-serif;
}


h2 {
  text-align: center;
  font-size: var(--text-lg);
  line-height: 1.2;
}

p {
  text-align: left;
  padding-inline: 1rem;
}
.title {
  text-align: left;
  margin-top: 3rem;
  padding-inline: 1rem;
}

.footer {
  padding: 3rem 1rem;

  text-align: center;
}

.footer p {
  color: rgb(0 0 0 / .7);

  font: 500 var(--text-sm)/1.7 var(--ff-base);
  text-align: center;
}

@media (max-width: 480px) {
  :root {
    --text-lg: 1.5rem;
    --text-xl: 2rem;
  }

  p {
    padding-inline: 0.75rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --text-lg: 2rem;
    --text-xl: 3rem;
  }
}
