:root {
  --text: #000000;
  --background: #f0f4ffd3;

  --ff-base: "Montserrat", sans-serif;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 500 1rem/1.5 var(--ff-base);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);

  font-family: var(--ff-base);
}

.about {
  background: #f0f4ffd3 ; 
  border-radius: 16px;
  padding: 2rem;
  max-width: 900px;
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

h1,
h2{
  text-align: center;
  font-family: 'Syne', sans-serif;
}

h2 {
  text-align: center;
  font-size: var(--text-lg);
  line-height: 1.2;
}

p {
  text-align: left;
  padding-inline: 1rem;
}
.footer {
  padding: 3rem 1rem;

  text-align: center;
}

.footer p {
  color: rgb(0 0 0 / .7);

  font: 500 var(--text-sm)/1.7 var(--ff-base);
  text-align: center;
}

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

@media (max-width: 480px) {
  :root {
    --text-lg: 1.5rem;
  }

  p {
    padding-inline: 0.75rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --text-lg: 2rem;
  }
}
